[Unit]
Description=garfbot
After=multi-user.target

[Service]
Type=simple
Restart=always
User=$USER
WorkingDirectory=/home/$USER/garfbot
ExecStart=/usr/bin/python garfbot.py

[Install]
WantedBy=multi-user.target
